body {
  background-color: #041e1f
}

h1 {
  text-align: center;
  color: white;
}
.grid {
  display: grid;
  width: 36vw;
  height: 36vw;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  background-color: gray;
  margin-left: auto;
  margin-right: auto;
  border: 25px solid #3c1f14;
}
.grid-element {
  /*background-color: #ffb263;*/
  background-color: transparent;
  height: 3.5vw;
  width: 3.5vw;
  border: 1px solid #3c1f14;
  perspective: 600px;
}
.card {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}
.card.isFlipped {
  transform: rotateY(180deg);
  transition: all 0.7s ease;
}
.card__face {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}
.card__face--front {
  background-color: red;
}

.card__face--back {
  color: white;
  background-color: black;
  transform: rotateY( 180deg );
}
.tree {
  background-color: #5d2701;
}
.water {
  background-color: #475496;
}
.fire {
  background-color: #ff6537;
}
.earth {
  background-color: #ffb263;
}
.emptyTile {
  background-color: black;
}

table {
  width: 100%;
  height: 100%;
  table-layout:fixed;
}

th, td {
   border: 1px solid black;
}

/* Playing around with responsive design */
@media only screen and (max-width: 979px) {
  body {
      background-color: red;
  }
}

@media only screen and (max-width: 767px) {
  body {
      background-color: grey;
  }
}

@media only screen and (max-width: 480px) {
  body {
      background-color: black;
  }
}
